.block7_footer {
    position: relative;
    margin-top: 44vw;
}
.block7_footer_email {
    position: absolute;
    width: 19vw;
    height: 3vw;
    margin-left: 10vw;
}
.block7_footer_text {
    position: absolute;
    width: 55vw;
    height: 10vw;
    margin-left: 35vw;
    margin-top: -6vw;
}
.block7_footer_line {
    position: absolute;
    width: 80vw;
    height: 0.1vw;
    margin-left: 10vw;
    margin-top: 10vw;
}
.block7_footer_endinfo {
    position: absolute;
    width: 17vw;
    height: 1vw;
    margin-left: 40vw;
    margin-top: 13vw;
}