.block1_line {
    position: relative;
    margin-top: 60vw;
}
.block1_line_box {
    display: inline;
    width: 4vw;
    height: 4vw;
    margin-left: 16vw;
}
.block1_line_text11 {
    display: inline;
    position: absolute;
    background-color: #b95b5b;
    left: 5vw;
    margin-top: 2.1vw;
    margin-left: 16vw;
    margin-right: 50vw;
}
.block1_line_text11_text1 {
    position: absolute;
    font-family: "WorkSans", sans-serif;
    font-weight: 600;
    color: #081323;
    font-size: 1.4vw;
    margin-top: -2vw;
    margin-right: -30vw;
}
.block1_line_text11_text2 {
    position: absolute;
    font-family: "WorkSans", sans-serif;
    font-weight: 200;
    color: #828282;
    font-size: 0.8vw;
    margin-top: 0.5vw;
    margin-right: -30vw;
}
.block1_line_wallet {
    position: absolute;
    width: 4vw;
    height: 4vw;
    left: 42vw;
}
.block1_line_text22 {
    display: inline;
    position: absolute;
    left: 47vw;
    margin-top: 2.1vw;
    right: 5vw;
}
.block1_line_text22_text1 {
    position: absolute;
    font-family: "WorkSans", sans-serif;
    font-weight: 600;
    color: #081323;
    font-size: 1.4vw;
    margin-top: -2vw;
}
.block1_line_text22_text2 {
    position: absolute;
    font-family: "WorkSans", sans-serif;
    font-weight: 200;
    color: #828282;
    font-size: 0.8vw;
    margin-top: 0.5vw;
}
.block1_line_headphones {
    position: absolute;
    width: 4vw;
    height: 4vw;
    left: 67vw;
}
.block1_line_text33 {
    display: inline;
    position: absolute;
    left: 72.5vw;
    margin-top: 2.1vw;
    right: 5vw;
}
.block1_line_text33_text1 {
    position: absolute;
    font-family: "WorkSans", sans-serif;
    font-weight: 600;
    color: #081323;
    font-size: 1.4vw;
    margin-top: -2vw;
}
.block1_line_text33_text2 {
    position: absolute;
    font-family: "WorkSans", sans-serif;
    font-weight: 200;
    color: #828282;
    font-size: 0.8vw;
    margin-top: 0.5vw;
}