.firsttitle_alltitle {
    position: relative;
    margin-top: 3vw;
    margin-left: 16vw;
    margin-right: 75vw;
}
.firsttitle_alltitle_text1 {
    position: absolute;
    font-family: "WorkSans", sans-serif;
    font-weight: 800;
    color: #081323;
    font-size: 3.9vw;
    margin-right: -30vw;
    line-height: 4.5vw;
}
.firsttitle_alltitle_text2 {
    position: absolute;
    font-family: "WorkSans", sans-serif;
    font-weight: 600;
    color: #4F4F4F;
    font-size: 1.3vw;
    margin-right: -30vw;
    line-height: 1.5vw;
    margin-top: 15vw;
}
.firsttitle_alltitle_arrow {
    position: absolute;
    width: 3vw;
    height: 3vw;
    margin-top: 14.3vw;
    margin-left: 11vw;
}