.secondtitle_alltitle {
    position: relative;
    margin-top: 42vw;
    margin-left: 29vw;
}
.secondtitle_alltitle_text1 {
    position: absolute;
    font-family: "WorkSans", sans-serif;
    font-weight: 800;
    color: #081323;
    font-size: 3.3vw;
    margin-right: -30vw;
    line-height: 3.9vw;
}
.secondtitle_alltitle_text2 {
    position: absolute;
    font-family: "WorkSans", sans-serif;
    font-weight: 500;
    color: #4F4F4F;
    font-size: 1.2vw;
    line-height: 1.4vw;
    margin-left: 7vw;
    margin-top: 9vw;
}