.thirdtitle_alltitle {
    position: relative;
    margin-top: 10vw;
}
.thirdtitle_alltitle_rectangle {
    position: absolute;
    width: 100vw;
    height: 20vw;
}
.thirdtitle_alltitle_text1 {
    position: absolute;
    font-family: "WorkSans", sans-serif;
    font-weight: 600;
    color: white;
    font-size: 3.2vw;
    margin-top: 4vw;
    margin-left: 31.5vw;
}
.thirdtitle_alltitle_text2 {
    position: absolute;
    font-family: "WorkSans", sans-serif;
    font-weight: 600;
    color: #DCB47A;
    font-size: 3.2vw;
    margin-top: 4vw;
    margin-left: 50vw;
}
.thirdtitle_alltitle_text3 {
    position: absolute;
    font-family: "WorkSans", sans-serif;
    font-weight: 200;
    color: rgb(250, 250, 250, 0.8);
    font-size: 1vw;
    margin-top: 9.5vw;
    margin-left: 40vw;
}
.thirdtitle_alltitle_button {
    position: absolute;
    width: 9vw;
    height: 3vw;
    margin-top: 13.5vw;
    margin-left: 44vw;
}